#headerBlock {
  font-size: 2rem;
  color: white;
  padding: 10px 30px 10px 5px;
  margin:7px 0 7px 7px;
  background-color: orange;
  width: 25%;
  position:relative;
}
#rules {
  background-color: yellow;
  width: 45%;
  height: 300px;
  margin: 7px 0 7px 7px;
}

#randomNumber {
  background-color:green;
  height: 80px;
  width: 150px;
  margin: 0 0 7px 7px;
  float:left;
  display:inline-block;
  text-align: center;
  font-size: 4.5rem;

}
#games {
  background-color:cyan;
  height:80px;
  width:70px;
  display:inline-block;
  margin: 0 0 7px 7px;
  font-size: .85rem;
}

.playerScore {
  background-color: cyan;
  padding:5px 0 0 0;
  width:19%;
  margin: 7px 0 0 7px;
}
#playerScore {
  height:80px;
  font-size: 3.5rem;
  text-align: center;
}
.clearfix {
  clear:both;
}
.crystal {
  width:40px;
  height:auto;
  margin: 0 0 0 7px;
}
